<!DOCTYPE web-app
	PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
	"http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
	<servlet>
		<servlet-name>ServletDispatcher</servlet-name>
		<init-param>
			<param-name>beanGetterClassName</param-name>
			<param-value>com.skymiracle.sor.testCase.appTestSor.AppBeanGetter</param-value>
		</init-param>
		<servlet-class>
			com.skymiracle.sor.ServletDispatcher
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletDispatcher</servlet-name>
		<url-pattern>/REST/*</url-pattern>
		<url-pattern>*.vi</url-pattern>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	
</web-app>
