/* 
    Document   : newCascadeStyleSheet
    Created on : 2008-11-11, 12:19:08
    Author     : skymiracle
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

body {
    text-align: center;
}

body {
    t
}

